<table>
	<tr>
		<td>
			<%= image_tag('layout/key.png') %>
		</td>
		<td id="sidebar-first">
			Вход для клиентов
		</td>
	</tr>
	<tr>
		<td>
			<%= image_tag('layout/basket.png')%>
		</td>
		<td id="sidebar-first">
			Корзина
		</td>
	</tr>
	<tr>
		<td>
			<span id="sidebar">
				<strong>Товаров: </strong>
			</span>
			<span id="sidebargr">123 шт.</span>
		</td>
	</tr>
	<tr>
		<td>
			<span id="sidebar">
				<strong>Сумма: </strong>
			</span>
			<span id="sidebargr">1222.00 грн.</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<%= image_tag('layout/oformit.png') %>
		</td>
	</tr>
	<tr>
		<td>
			<%= image_tag('layout/phone.png') %>
		</td>
		<td id="phone">
			<span>
				<strong>Телефоны: </strong>
			</span>
		</td>
	</tr>
	<tr>
		<td class="menutitle">
			<span id="sidebarphone">(066)</span>
			<span id="sidebargr">757-08-06</span>
		</td>
	</tr>
	<tr>
		<td class="menutitle">
			<span id="sidebarphone">(057)</span>
			<span id="sidebargr">762-81-01</span>
		</td>
	</tr>
	<tr>
		<td>
			<% image_tag('layout/icq.png') %>
		</td>
		<td>
			<span id="sidebarphone">ICQ</span>
			<span id="sidebargr"> 7757097</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="menutitle1">
			<span>Действие феромонов</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" id="sidebar1">
			<strong>Духи с феромонами</strong> - это безусловно лучшее современное средство способное влиять на сексуальное поведение других людей.<br /><i>Они позволят вам:</i><br /><i>— проще знакомиться с девушкой или парнем</i><br /><i>— максимально повысить свою сексуальную привлекательность</i><br /><i>— существенно увеличить количество сексуальных партнеров</i>
<br /><br />В нашем магазине <strong>KrasaOnline</strong> пердложены следующие товары: средства для ухода за кожей, волосами, ногтями; декоративная косметика; парфюмерия. И всё это с доставкой на дом. Вам остается лишь выбрать понравившиеся товары и заказать через "корзину".
		</td>
	</tr>
</table>