<div>
  <% get_current_menu.each do |taxonomy| %>
	<dl class="navigation">
		<dt>
        	<%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name.singularize), seo_url(taxonomy.root) %>
		</dt>
      	<% taxonomy.root.children.each do |taxon| %>
         <dd>
		 	<% if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>
         		<%= link_to taxon.name, seo_url(taxon), :class => 'current' %>
			<% else %>
				<%= link_to taxon.name, seo_url(taxon) %>
			<% end %>
		 </dd>
        <% end %>
      </dl>
  <% end %>
</div>
