<% unless @product_properties.empty? %>
<ul id="product-properties">
<% for product_property in @product_properties %>
  <li><span class="option"><%= product_property.property.presentation %>:</span> <span class="value"><%= product_property.value %></span></li>
<% end %>
</ul>
<% end %>
